<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>25_phamminhthao_manage_user</display-name>
	<!-- Khai báo trang đầu tiên được tự động gọi đến khi server khởi động -->
	<welcome-file-list>
		<welcome-file>views/jsp/ADM001.jsp</welcome-file>
	</welcome-file-list>
	<!-- Khai báo thời gian time out sau 5 phút -->
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

	<error-page>
		<location>/SystemError</location>
	</error-page>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>manageuser.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>manageuser.controllers.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>manageuser.controllers.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListUser</servlet-name>
		<servlet-class>manageuser.controllers.ListUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListUser</servlet-name>
		<url-pattern>/ListUser.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SystemError</servlet-name>
		<servlet-class>manageuser.controllers.SystemErrorController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemError</servlet-name>
		<url-pattern>/SystemError</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowUserInfo</servlet-name>
		<servlet-class>manageuser.controllers.ShowUserInfoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowUserInfo</servlet-name>
		<url-pattern>/ShowUserInfo.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>manageuser.controllers.AddUserInputController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUserInput.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUserValidate.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUserConfirm</servlet-name>
		<servlet-class>manageuser.controllers.AddUserConfirmController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserConfirm</servlet-name>
		<url-pattern>/AddUserConfirm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserConfirm</servlet-name>
		<url-pattern>/AddUserOK.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>manageuser.controllers.EditUserInputController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUserInput.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUserValidate.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUserConfirm</servlet-name>
		<servlet-class>manageuser.controllers.EditUserConfirmController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserConfirm</servlet-name>
		<url-pattern>/EditUserConfirm.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUserConfirm</servlet-name>
		<url-pattern>/EditUserOK.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>manageuser.controllers.DeleteUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Success</servlet-name>
		<servlet-class>manageuser.controllers.SuccessController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Success</servlet-name>
		<url-pattern>/Success.do</url-pattern>
	</servlet-mapping>
</web-app>